sudo: true 
env:
  global:
    - DIST_REPO="f5-openstack-agent-dist"
  matrix:
    - OS_TYPE="redhat" OS_VERSION="7"
    - OS_TYPE="redhat" OS_VERSION="6"
services:
- docker
language: python

python:
    - '2.7'
before_install:
    - git config --global user.email "OpenStack_TravisCI@f5.com"
    - git config --global user.name "Travis F5 Openstack"

install:
    - pip install hacking
script:
    - flake8 f5_openstack_agent
    - f5-openstack-agent-dist/scripts/package_agent.sh ${OS_TYPE} ${OS_VERSION} ${DIST_REPO}
before_deploy:
  PKG_VERSION=$(python -c "import f5_openstack_agent; print f5_openstack_agent.__version__")
deploy:
  provider: releases
  api_key:
    secure: lTash9wrbwY5rsdl+ZfhYZ+Iqt2EdvZNqrq6FlLT6L4Wc4/RYCDLFwY2qrDb/n1XI3g/XhOCTyYMCu9URrw0HAY45HcAgOcEABNcAGfs/aBk5uB+l/V/42QKB+oAR9RR9qves5PJGBpJcBym9oswcxblBo8L6Z2o/yFzyGo3tHKVopTZoIw+hPqt5eAClPz8FX0ZIUZqH1iUiqMj1JJWvO9DRWECcjt4pr5HuY3u32qocQP4DUY1WQwI/R6iye5VPTAbWnsIBChJcJF1HAbsVa5IhQHhSo03RCJwZay/NF0btc9dKvIyrwqhQIUZX/RcDPvbs7TP02zg9O27HBAts2ivVRoBulN9dsHGiWGXMMQjavZGsdZ/TddKQxUvWoUKv+nHQyWGbyrE4smDHrex29NR/WgB/kHSAkNyUU1rZs8ALaoab5LY3Z0WmrFlHFs4HDb4YG+//0ODVppRe+Z8uFFnSsN4fjG9Xok+Tl+Gb9XM6/LNu+C+5DCG2VfPCnp2UGzmmo9Hm6ODhWauCR9DfJk1dUTVYb871I3ina0rwm2NQ04bKv0UHGZ2FWpq/KGx+jvXW8F54cWIluU/ze2MrJF/z9uKyTluEbDNBEr9/LaZoG22MBzHZB4xK0cEy+CSwGdOredCDCyEM7dsLlnE8ruiujbCAMvdjsHH4bu4MjU=
  file: ${DIST_REPO}/rpms/f5-openstack-agent-${PKG_VERSION}-1.el${OS_VERSION}.noarch.rpm
  skip_cleanup: true
  overwrite: true
  on:
    repo: F5Networks/f5-openstack-agent
    tags: true

notifications:
  slack:
    rooms:
      - f5openstackdev:$SLACK_TOKEN#f5-openstack-agent
      - f5openstackdev:$SLACK_TOKEN#build_status
    on_success: change
    on_failure: always
