-e .
# OpenStack dependancies
git+https://github.com/openstack/neutron@stable/mitaka
git+https://github.com/openstack/oslo.log.git@stable/mitaka
git+https://github.com/openstack/neutron-lbaas.git@stable/mitaka

# F5 LBaaS dependancies
git+https://github.com/F5Networks/f5-openstack-lbaasv2-driver.git@mitaka

# Test utilities
git+https://github.com/F5Networks/pytest-symbols.git

mock==2.0.0
pytest>=3.0.5,<4
pytest-cov>=2.4.0,<3
responses==0.5.1
coverage==4.2
python-coveralls==2.8.0
requests<=2.12.5

