-e .

# OpenStack dependencies, Za doesn't know how pip-over-git interacts with
# constraints.txt's .
git+https://github.com/openstack/neutron@mitaka-eol
git+https://github.com/openstack/neutron-lbaas.git@mitaka-eol

# F5 LBaaS dependancies
git+https://github.com/F5Networks/f5-openstack-lbaasv2-driver.git@mitaka

# Test utilities
git+https://github.com/F5Networks/pytest-symbols.git

pytest>=3.0.5,<4
pytest-cov>=2.4.0,<3
python-coveralls==2.8.0

# COMMUNITY CONSTRAINED SECTION
# Community constrained packages, packages specified here MUST not specify a
# version.  The versions of these packages are specified at the constraints
# URL.  If you add a version here it will be ignored, and therefore be
# misleading to readers of this file.
-c https://git.openstack.org/cgit/openstack/requirements/plain/upper-constraints.txt?h=mitaka-eol

git+https://github.com/openstack/oslo.log.git@mitaka-eol
mock==IGNORED      # See section comment
coverage==IGNORED  # See section comment
