{
    "bigip_mgmt_ips": ["10.190.7.183"],
    "bigip_floating_ips": ["10.190.7.183"],
    "bigip_ssh_username": "root",
    "bigip_username": "admin",
    "bigip_password": "admin",
    "f5_vtep_selfip_name": "selfip.client"
}
